Repository syavaYki/fullstack-react-nodejs-supabase: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix: Fix TypeScript error in test routes import
  packages/backend/src/routes/index.ts
Due: eslint --fix, prettier --write

test: Trigger auto-deploy with file change
  packages/backend/README.md
Due: prettier --write

fix: Update SameSite cookie attribute for cross-origin support
  packages/backend/src/config/supabase.ts
Due: eslint --fix, prettier --write

fix: Set SameSite cookie attribute to 'none' for cross-origin support
  packages/backend/src/config/supabase.ts
Due: eslint --fix, prettier --write

fix: Remove conditional SameSite attribute for consistent cross-origin cookie handling
  packages/backend/src/config/supabase.ts
Due: eslint --fix, prettier --write

fix: Enable cross-subdomain cookie auth
  packages/backend/src/config/supabase.ts
  packages/frontend/app/contexts/AuthContext.tsx
  packages/frontend/app/lib/supabase.client.ts
  packages/frontend/app/lib/supabase.server.ts
Due: eslint --fix, prettier --write

fix: Cast billing_cycle TEXT to enum in change_user_tier function
  supabase/migrations/002_functions.sql
Due: none

feat: Enable test routes in all environments
  packages/backend/src/routes/index.ts
Due: eslint --fix, prettier --write

fix: Update policies to use authenticated roles and improve security checks
  supabase/migrations/002_functions.sql
  supabase/migrations/003_policies.sql
Due: none

feat: Add global loading indicator during route transitions
  packages/frontend/app/root.tsx
Due: eslint --fix, prettier --write

feat: add husky pre-commit and pre-push git hooks
  .husky/pre-commit
  .husky/pre-push
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  eslint --fix: (any of: *.{ts,tsx}) or (any of: *.{js,cjs,mjs})
  prettier --write: ((any of: *.{ts,tsx}) or (any of: *.{js,cjs,mjs})) or (any of: *.{json,md,yml,yaml})
